:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 1s;
    --modal-left: 20%;
    --lateral-margin: 30px;
    --dropdown-height: 60px;
}

* {
    box-sizing: border-box;
}

#contact_modal {
    display: none;
}

.photographe-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    column-gap: 30px;
    align-items: center;
    padding: 0 30px;
}

#ph-bio-data {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#ph-bio-data h1 {
    color: #db8876;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

#city {
    font-size: 1.5rem;
    color: #db8876;
    margin : 5px 0;
}

#photo-portrait {
    justify-content: center;
}
.photographe-header img {
    height:200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: calc(var(--lateral-margin)/2) var(--lateral-margin);
    width: calc(6 * var(--lateral-margin));
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/**********************/
/*    Modal styling   */
/**********************/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

/* Form styling */
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 50px 35px;
    margin: auto;
    animation: modalopen var(--modal-duration) forwards;
    position:relative;
    z-index: 200;
    position: fixed;
    top: 0;    /* Start at the bottom */
    left: 25%;
}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header h1 {
    font-size: 54px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

#close-modal-btn {
    background-color: #db8876;
    border:0;
    cursor: pointer;
}

.modal h1 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}
#contact-name {
    width: 100%;
    font-size: 54px;
    font-weight: normal;
    margin-top: 0;
    margin-right:0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}


form label {
    width : 100%;
    display: block;
    margin-bottom: 0.1rem;
    font-size: 32px;
    color: #312E2E;
}

form input, form textarea {
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    padding-left: 5px;
    margin-bottom: 1rem;;
}

#message {
    padding: 10px 5px;
    height: auto;
}

form button[type="submit"] {
    background-color: #901C1C;
    color: white;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 0.9em;
  }

#media-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    column-gap: 40px; /* Spacing between media items */
    row-gap: 20px;
    margin: 30px 100px;
}

.media-item {
    position: relative; /* Allows absolute children to be placed relative to this container */
    display: block; 
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.media-item button {
    width: 100%;
    height: 300px;
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin: 0;
}

.media-item button img,
.media-item button video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 0px;
    object-fit: cover;
    object-position: 45% 25%;
    cursor: pointer;
}

.media-item p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

#media-descript {
    display: grid;
    grid-template-columns: 5fr 0.6fr 0.8fr; /* 3 columns */
    column-gap: 1px;
}

.heart-icon1 {
    background: #333;
    padding : 0;
    padding-top: 2px;
    margin :  0;
}

.heart-icon2 {
    background: #901C1C;
    font-size: 1.2em;
    margin: 8px 4px;

}

.heart-icon1, .heart-icon2  {
    background-clip: text; 
    -webkit-text-stroke: 1px transparent; /* Outline color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px transparent; /* Outline color */
    cursor: pointer;
    text-align: center;

  }

.play-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-color: #cfcece;
    background-size: cover;
    pointer-events: none;  /* Makes sure the icon doesn't interfere with the click event */
}

/* Lightbox container */
.lightbox {
    display: block;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0px;
    margin: 0;
    overflow: scroll;
    object-fit:contain;
}

/* Hide the lightbox by default */
.lightbox.hidden {
    display: none;
}

/* Lightbox content (image/video) */
.lightbox-content img, .lightbox-content video {
    max-width: 90vw;  
    max-height: 90vh; 
    width: auto;      /* Maintain aspect ratio */
    height: auto;     /* Maintain aspect ratio */
    display: block;   /* Block-level element */
    margin: 8vh auto; /* Center the image horizontally */
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
}

.magnified {
    transform: scale(2); /* 2x zoom on click */
    cursor: zoom-out;
}

/* prev, next buttons */
#prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: white;
    color: rgb(26, 26, 26);
    font-size: 3em;
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
}

/* lightbox close button */
#close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    font-size: 4em;
    color: #db8876;
    border: #fff;
    cursor: pointer;
    z-index: 1001;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 60px;
}

/* Accessibility focus outline */
button:focus, input:focus, textarea:focus {
    outline: 3px solid #aa0d02;
    outline-offset: 2px;         /* Adds spacing between element and outline */
}

@keyframes modalopen {
    from {
      opacity: 0;
      transform:  translateX(0%) translateY(0%);
    }
    to {
      opacity: 1;
      transform:  translateX(0%) translateY(10%);
    }
  }

#label-dropdown {
    font-size: 20px;
    margin-right: 16px;
    margin-left:100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sort-option {
    display:flex;
    flex-direction: row;
    align-items: top;
    margin: 10px auto; /* Center the line */
    margin-left: 5px;
    width: 300px;

}

.line {
  border-top: 3px solid white;
  width: 135px; /* Length of the line */
  margin: 10px 0px 10px -5px; /* Center the line */
}

#custom-dropdown {
    position: absolute;
    top: 380px; 
    left: 200px;
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    color: white;
    border-radius: 5px;
    padding: calc(var(--lateral-margin)/2);
    cursor: pointer;
    background-color: #901C1C;
    z-index: 150; 
}

#custom-dropdown li {
    height: 40px;
    align-items: center;
    padding-top: 8px;

}    

#custom-dropdown li[role="option"]:hover,
#custom-dropdown li[role="option"]:focus {
background-color: #fa4f4fa9;
outline: none;
}

ul:focus {
    outline: 3px solid #aa0d02;
}

#custom-dropdown:hover li {
    display: block;
}

#total-like {
    display: grid;
    grid-template-columns: 0.8fr 0.4fr 1fr;
    position: fixed;
    bottom: 30px;
    right: 20px ;
    width: 230px;
    height: 50px;
    text-align: right;
    background-color: #db8876;
    border-radius: 5px;
    padding: 15px 15px 10px 5px;
    margin : 0;
    z-index: 100;
}

#total-like p {
    margin : 0;
    padding: 0;
}